[View in Colaboratory](https://colab.research.google.com/github/sugatoray/CodeSnippets/blob/master/Make_HTML_Table_from_Data.ipynb)

# Description
I made this code snippet to create a table in html and as a pandas.DataFrame object when the data is provided in the form of a list.   

The inspiration for making this came from the [**stackoverflow.com question:** Easiest way to turn a list into an HTML table in python?](https://stackoverflow.com/questions/1475123/easiest-way-to-turn-a-list-into-an-html-table-in-python)

### DECLARATION:
<font color = 'red'>The code in this notebook does not ask for any permission to change or access your personal data when you run it on Google Colab. Niether does it try to access any outside URL at any stage.</font>

### Note:  
If you do not have **`numpy`** and **`pandas`** installed in your Google Colab, you may install them using the following commands.  


>**`!pip install -U -q numpy`**  
>**`!pip install -U -q pandas`**

In [0]:
#@title Install Packages if Needed (Uncomment and Run)
#!pip install -U -q numpy
#!pip install -U -q pandas

In [2]:
import numpy as np
import pandas as pd

def generate_html_with_table(data, columns_or_rows = 1, \
                             column_name_prefix = 'Column', \
                             span_axis = 1, \
                             showOutput = True):
    """
    This function returns a pandas.DataFrame object and a 
    generated html from the data based on user specifications.
    
    #Example:
      data_html, data_df = generate_html_with_table(data, columns_or_rows, column_name_prefix, span_axis, showOutput)
      # To suppress output and skip the DataFrame:
      # span data along a row first
        columns = 4
        columns_or_rows = columns
        data_html, _ = generate_html_with_table(data, columns_or_rows, column_name_prefix, 1, False)  
      # span data along a column first
        rows = 4
        columns_or_rows = rows
        data_html, _ = generate_html_with_table(data, columns_or_rows, column_name_prefix, 0, False)   
      
    # Inputs: 
        1. data:               Data
           (dtype: list)
           
      **Optional Input Parameters:**
        2. columns_or_rows:            Number of Columns or rows
           (dtype: int)                columns: span_axis = 1
           (DEFAULT: 1)                rows:    span_axis = 0
        3. column_name_prefix: The Prefix for Column headers
           (dtype: string)
           (DEFAULT: 'Column')
        4. span_axis:          The direction along which the elements span.
           (dtype: int)        span_axis = 0 (span along 1st column, then 2nd column and so on)
           (DEFAULT: 1)        span_axis = 1 (span along 1st row, then 2nd row and so on)
        5. showOutput:         (True/False) Whether to show output or not. Use 
           (dtype: boolean)                   False to suppress printing output.
           (DEFAULT: True)
                                                              
    # Outputs:
        data_html: generated html
        data_df:   generated pandas.DataFrame object
        
    # Author: Sugato Ray 
    Github: https://github.com/sugatoray
    Repository/Project: CodeSnippets
    
    """
    # Calculate number of elements in the list: data
    elements = len(data)
    # Calculate the number of rows/columns needed
    if (span_axis == 0): # if spanning along a column
      rows = columns_or_rows
      columns = int(np.ceil(elements/rows))    
    else: #(span_axis = 1)
      columns = columns_or_rows
      rows = int(np.ceil(elements/columns))
    # Generate Column Names
    column_names = [column_name_prefix + '_{}'.format(i) \
                    for i in np.arange(columns)]    
    # Convert the data into a numpy array    
    data_array = np.array(data + ['']*(columns*rows - elements))
    if (span_axis == 0):
      data_array = data_array.reshape(columns,rows).T  
    else: #(span_axis == 0)
      data_array = data_array.reshape(rows,columns)  
    
    # Convert the numpy array into a pandas DataFrame
    data_df = pd.DataFrame(data_array, columns = column_names)    
    # Create HTML from the DataFrame
    data_html = data_df.to_html()
    if showOutput:
        print('Elements: {}\nColumns: {}\nRows: {}'.format(elements, \
                                                           columns, \
                                                           rows))
        print('Column Names: {}'.format(column_names))
        print('\nPandas DataFrame: ')
        display(data_df)
        print('\nHTML Generated: \n\n' + data_html)
        
    return (data_html, data_df)


  
#data_html, data_df = generate_html_with_table(data, columns_or_rows, column_name_prefix, span_axis, showOutput)
print(generate_html_with_table.__doc__)

    This function returns a pandas.DataFrame object and a
    generated html from the data based on user specifications.

    #Example:
      data_html, data_df = generate_html_with_table(data, columns_or_rows, column_name_prefix, span_axis, showOutput)
      # To suppress output and skip the DataFrame:
      # span data along a row first
        columns = 4
        columns_or_rows = columns
        data_html, _ = generate_html_with_table(data, columns_or_rows, column_name_prefix, 1, False)
      # span data along a column first
        rows = 4
        columns_or_rows = rows
        data_html, _ = generate_html_with_table(data, columns_or_rows, column_name_prefix, 0, False)

    # Inputs:
        1. data:               Data
           (dtype: list)

      **Optional Input Parameters:**
        2. columns_or_rows:            Number of Columns or rows
           (dtype: int)                columns: span_axis = 1
           (DEFAULT: 1)                rows:    span_axis = 0
        3. column_name_prefix: The Prefix for Column headers
           (dtype: string)
           (DEFAULT: 'Column')
        4. span_axis:          The direction along which the elements span.
           (dtype: int)        span_axis = 0 (span along 1st column, then 2nd column and so on)
           (DEFAULT: 1)        span_axis = 1 (span along 1st row, then 2nd row and so on)
        5. showOutput:         (True/False) Whether to show output or not. Use
           (dtype: boolean)                   False to suppress printing output.
           (DEFAULT: True)

    # Outputs:
        data_html: generated html
        data_df:   generated pandas.DataFrame object

    # Author: Sugato Ray
    Github: https://github.com/sugatoray
    Repository/Project: CodeSnippets

In [3]:
#@title Specify Input Parameters and Generate HTML: Spanning along a row first
data = ['one','two','three','four','five','six','seven','eight','nine']
columns = 4                   # Number of Columns
columns_or_rows = columns
column_name_prefix = 'Column' # Prefix for Column headers
span_axis = 1                 # Span along a row (1) or a column (0) first
showOutput = True             # Use False to suppress printing output

# Generate HTML
data_html, data_df = generate_html_with_table(data, columns_or_rows, column_name_prefix, span_axis, showOutput)

Elements: 9
Columns: 4
Rows: 3
Column Names: ['Column_0', 'Column_1', 'Column_2', 'Column_3']

Pandas DataFrame:

  Column_0 Column_1 Column_2 Column_3
0      one      two    three     four
1     five      six    seven    eight
2     nine

HTML Generated:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Column_0</th>
      <th>Column_1</th>
      <th>Column_2</th>
      <th>Column_3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>one</td>
      <td>two</td>
      <td>three</td>
      <td>four</td>
    </tr>
    <tr>
      <th>1</th>
      <td>five</td>
      <td>six</td>
      <td>seven</td>
      <td>eight</td>
    </tr>
    <tr>
      <th>2</th>
      <td>nine</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

In [4]:
#@title Specify Input Parameters and Generate HTML: Spanning along a column first
data = ['one','two','three','four','five','six','seven','eight','nine']
rows = 4                      # Number of Columns
columns_or_rows = rows
column_name_prefix = 'Column' # Prefix for Column headers
span_axis = 0                 # Span along a row (1) or a column (0) first
showOutput = True             # Use False to suppress printing output

# Generate HTML
data_html, data_df = generate_html_with_table(data, columns_or_rows, column_name_prefix, span_axis, showOutput)

Elements: 9
Columns: 3
Rows: 4
Column Names: ['Column_0', 'Column_1', 'Column_2']

Pandas DataFrame:

  Column_0 Column_1 Column_2
0      one     five     nine
1      two      six
2    three    seven
3     four    eight

HTML Generated:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Column_0</th>
      <th>Column_1</th>
      <th>Column_2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>one</td>
      <td>five</td>
      <td>nine</td>
    </tr>
    <tr>
      <th>1</th>
      <td>two</td>
      <td>six</td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>three</td>
      <td>seven</td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>four</td>
      <td>eight</td>
      <td></td>
    </tr>
  </tbody>
</table>

In [9]:
#@title Specify Input Parameters and Generate HTML: Spanning along a row first (number of: rows == columns)
data = ['one','two','three','four','five','six','seven','eight','nine']
columns = 3                   # Number of Columns
columns_or_rows = columns
column_name_prefix = 'Column' # Prefix for Column headers
span_axis = 1                 # Span along a row (1) or a column (0) first
showOutput = True             # Use False to suppress printing output

# Generate HTML
data_html, data_df = generate_html_with_table(data, columns_or_rows, column_name_prefix, span_axis, showOutput)

Elements: 9
Columns: 3
Rows: 3
Column Names: ['Column_0', 'Column_1', 'Column_2']

Pandas DataFrame:

  Column_0 Column_1 Column_2
0      one      two    three
1     four     five      six
2    seven    eight     nine

HTML Generated:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Column_0</th>
      <th>Column_1</th>
      <th>Column_2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>one</td>
      <td>two</td>
      <td>three</td>
    </tr>
    <tr>
      <th>1</th>
      <td>four</td>
      <td>five</td>
      <td>six</td>
    </tr>
    <tr>
      <th>2</th>
      <td>seven</td>
      <td>eight</td>
      <td>nine</td>
    </tr>
  </tbody>
</table>