<a href="https://colab.research.google.com/github/sugatoray/CodeSnippets/blob/master/src/notebooks/pandas_work_with_datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with **`datetime`**

Datetime objects can be created using three libraries in general:

- `datetime`
- `numpy`
- `pandas`

[Link to original colab-notebook][#original-colab-notebook]

[#original-colab-notebook]: https://colab.research.google.com/drive/1U5cvbg6bUk__wJbBHzFb8szxAMMD1wwq#scrollTo=pl9pPstufeHZ

In [ ]:
import numpy as np
import pandas as pd
import datetime

# Table of Contents

- [x] Timezones
  - [x] List of timezones
- [ ] Using `datetime` library
  - [ ] review `datetime.date`
  - [ ] review `datetime.datetime`
  - [ ] review `datetime.time`
  - [ ] review `datetime.timedelta`
  - [ ] review `datetime.timezone`
  - [ ] review `datetime.tzinfo`

## Timezones

See [Documentation][#datetime-timezone-doc]

[#datetime-timezone-doc]: https://pvlib-python.readthedocs.io/en/stable/timetimezones.html

All the three libraries provide some timezone information and may allow you to set the timezone as well.

For instance, the `pandas.Timestamp()` method accepts a timezone parameter as the `tz` keyword.

```python
pd.Timestamp('2020-03', tz='US/Central')
```

### List of timezones

But how do you know what to set the `tz` keyword to? Well, the `pytz` library gives a list of all the valid timezones as follows:  

```python
import pytz
pytz.all_timezones

## Examples
['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 ...
 'America/Montreal',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Ojinaga',
 'America/Panama',
 'America/Phoenix',
 'America/Winnipeg',
 ...
 'Asia/Calcutta',
 'Asia/Colombo',
 'Asia/Dhaka',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 ...
 'US/Eastern',
 'US/Central',
 'US/Mountain',
 'US/Pacific',
```

In [ ]:
# import pytz
# pytz.all_timezones

## Using `datetime` library

See [documentation for `datetime`][#datetime-doc]. Also see [documentation for `timedelta`][#datetime-timedelta].

[#datetime-doc]: https://docs.python.org/3/library/datetime.html#module-datetime
[#datetime-timedelta]: https://docs.python.org/3/library/datetime.html#timedelta-objects

The word *datetime* has two parts in it:

- date: `2020-06-10` ➡️  10-Jun-2020.
- time: `10:25:37` ➡️ 10 hours 25 minutes and 37 seconds (AM).

Naturally, the library `datetime` offers you ways of working with `datetime`, `date` and `time`. In addition to that you can also work with the `timezone` (`tz`) information. Therefore we will focus on the following:

```python
datetime.date
datetime.datetime
datetime.time
datetime.timedelta
datetime.timezone
datetime.tzinfo
```

### Using `datetime.date`

You could see people using this with one of the following methods of importing:

- Method-1:
  
  ```python
  from datetime import date
  date(2020, 3, 17) # 2020-03-17
  ```

- Method-2:

  ```python
  import datetime
  datetime.date(2020, 3, 17) # 2020-03-17
  ```

Note that the first method above claims the name `date` in the *namespace* and you would not be able to use `date` as a variable name for something else later on.

Instead of providing an input as we did earlier to `datetime.date()`

```python
datetime.date(2020, 3, 17) # 2020-03-17
```

We could also pass a date string `2020-03-17` and pass the parsed output to `datetime.date()`.

```python
# method-1
datetime.date(*list(map(int, '2020-03-17'.split('-'))))

# method-2
def date_from_datestring(datestr = '2020-03-17', sep='-'):
    return datetime.date(*list(map(int, datestr.split(sep))))
date_from_datestring(datestr = '2020-03-17')
```

In [ ]:
datetime.date(2020, 3, 17) # 2020-03-17

datetime.date(2020, 3, 17)

## Using `pandas` library

### Prep Data

In [ ]:
dates = pd.date_range(start='2020-07-01', end='2020-07-20', freq='D')
df = pd.DataFrame(dates, columns=['Dates'])
ts = pd.Timestamp('2020-03-17 20:15:35.654')

### Formatting Dates as `YYYYQ#` for Quarters

```python
df.Dates.dt.to_period('Q')
## Example outputs
# 2020-02-01 --> 2020Q1
# 2019-05-01 --> 2019Q2
# 2020-07-01 --> 2020Q3
# 2010-10-01 --> 2010Q4
```

### Change Output Format from `YYYYQ#` to `YYYY-Q#`

For example to convert `2020Q3` to `2020-Q3`, do it as follows:

```python
quarters = df.Dates.dt.to_period('Q')
quarters.apply(lambda x: str(x).replace('Q', '-Q'))

## Example outputs
# 2020-02-01 --> 2020Q1 --> 2020-Q1
# 2019-05-01 --> 2019Q2 --> 2019-Q2
# 2020-07-01 --> 2020Q3 --> 2020-Q3
# 2010-10-01 --> 2010Q4 --> 2010-Q4
```

In [ ]:
quarters = df.Dates.dt.to_period('Q')
quarters.apply(lambda x: str(x).replace('Q', '-Q')).head()

0    2020-Q3
1    2020-Q3
2    2020-Q3
3    2020-Q3
4    2020-Q3
Name: Dates, dtype: object

### Show *year*, *month*, *day*, *hour*, *minute*, *second*, etc.

See [help][#datetime-string-formatting] on datetime-string-formatting.

[#datetime-string-formatting]: https://github.com/sugatoray/CodeSnippets/blob/master/src/HowTo/datetime_string_format_codes.md

```python
## <attribute>: year, quarter, month, week, day, hour, minute, second, etc.
df.Dates.dt.<attribute>
# Example: 2020-03-17 20:15:35.654
ts = pd.Timestamp('2020-03-17 20:15:35.654') # a single timestamp

## Some Notations Used
# DataFrame/Series --> df.Dates
# Timestamp --> ts

## <attribute>: date, year, quarter, month, week, day, weekday
df.Dates.dt.<attribute>

# date
df.Dates.dt.date
ts.strftime('%Y-%m-%d') # 2020-03-17 --> **NOT** ts.date()
ts.date() # datetime.date(2020, 3, 17)
# year
df.Dates.dt.year
ts.year # 2020
# quarter
df.Dates.dt.quarter
ts.quarter # 1
# month
df.Dates.dt.month
ts.month # 3
# quarter
df.Dates.dt.week
ts.week # 12
# day
df.Dates.dt.day
ts.day # 17
# weekday
df.Dates.dt.weekday
ts.weekday() # 1

## <attribute>: time, hour, minute, second, microsecond, nanosecond
df.Dates.dt.<attribute>

# time
df.Dates.dt.time
ts.strftime('%H:%M:%S') # 20:15:35 --> **NOT** ts.time()
ts.time() # datetime.time(20, 15, 35, 654000)
# hour
df.Dates.dt.hour
ts.hour # 20
# minute
df.Dates.dt.minute
ts.minute # 15
# second
df.Dates.dt.second
ts.second # 35
# microsecond
df.Dates.dt.microsecond
ts.microsecond # 654
# nanosecond
df.Dates.dt.nanosecond
ts.nanosecond # 0

```

### Some other methods

Here are some more useful methods.

```python
# dayofweek
df.Dates.dt.dayofweek
ts.dayofweek # 1
# dayofyear
df.Dates.dt.dayofyear
ts.dayofyear # 77
# days_in_month (same as daysinmonth)
df.Dates.dt.days_in_month
df.Dates.dt.daysinmonth
ts.days_in_month # 31
ts.daysinmonth # 31

# freq: frequency
df.Dates.dt.freq # Q, Y, M, D, H, S
ts.freq

# timezone
df.Dates.dt.timetz # datetime time with timezone info
df.Dates.dt.tz # timezone info
ts.tz

## Conversion
# convert to: pydatetime
df.Dates.dt.to_pydatetime()
# convert to:
df.Dates.dt.to_period('Q') # quarter: Q     --> 2020Q1
df.Dates.dt.to_period('Y') # year: Y        --> 2020
df.Dates.dt.to_period('M') # month: m or M  --> 2020-03
df.Dates.dt.to_period('D') # day: D         --> 2020-03-17
df.Dates.dt.to_period('H') # hour: H        --> 2020-03-17 20:15
df.Dates.dt.to_period('S') # second: S      --> 2020-03-17 20:15:35
```

Methods for boolean (`True/False`) checks such as if a certain date is month/quarter/year start/end or if the year is a leap year.

```python
## Boolean checks with dates:
#  --> date is month/quarter/year | start/end
#  --> date is leap year
#  boolean: True/False

# Check if date is month start/end
df.Dates.dt.is_month_start
ts.is_month_start # False
df.Dates.dt.is_month_end
ts.is_month_end # False

# Check if date is quarter start/end
df.Dates.dt.is_quarter_start
ts.is_quarter_start # False
df.Dates.dt.is_quarter_end
ts.is_quarter_end # False

# Check if date is year start/end
df.Dates.dt.is_year_start
ts.is_year_start # False
df.Dates.dt.is_year_end
ts.is_year_end # False

# Check if date is leap year
df.Dates.dt.is_leap_year
ts.is_leap_year # True
```

In [ ]:
ts = pd.Timestamp('2020-03-17 20:15:35.654')

In [ ]:
pd.Timestamp(year=2020, month=3, day=17,
             hour=20, minute=15, second=35,
             microsecond=654000)

Timestamp('2020-03-17 20:15:35.654000')

In [ ]:
pd.Timestamp('2020-03', tz='US/Central').tz

### Using `pandas.Timestamp()`

Ways to create a timestamp:

```python
## Option-1: with timestamp-string
# Option 1.1
ts = pd.Timestamp('2020-03-17 20:15:35.654') # Timestamp('2020-03-17 20:15:35.654')
# Option 1.2
ts = pd.Timestamp('2020-03-17 20:15:35') # Timestamp('2020-03-17 20:15:35')
# Option 1.3
ts = pd.Timestamp('2020-03-17 20:15') # Timestamp('2020-03-17 20:15:00')
# Option 1.4
ts = pd.Timestamp('2020-03-17 20') # Timestamp('2020-03-17 20:00:00')
# Option 1.5
ts = pd.Timestamp('2020-03-17') # Timestamp('2020-03-17 00:00:00')
# Option 1.6
ts = pd.Timestamp('2020-03') # Timestamp('2020-03-01 00:00:00')
# Option 1.7
ts = pd.Timestamp('2020') # Timestamp('2020-01-01 00:00:00')

## Option-2: with timestamp-keywords
ts = pd.Timestamp('2020-03') # Timestamp('2020-03-01 00:00:00')

## Option-3: with timzone specification
ts = pd.Timestamp('2020-03-17 20:15:35.654', tz='US/Central')
```

In [ ]:
pd.Timestamp(year=2020, month=3, day=17)

Timestamp('2020-03-17 00:00:00')

In [ ]:
ts = pd.Timestamp(2020, 3, 17)

#### How to use/call various properties/methods of `pandas.Timestamp()`.

```python
# Eaxmple
(
    ts.strftime('%Y-%m-%d'), # '2020-03-17'
    ts.date(),               # datetime.date(2020, 3, 17)
    ts.year,                 # 2020
    ts.quarter,              # 1
    ts.month,                # 3
    ts.week,                 # 12
    ts.day,                  # 17
    ts.weekday(),            # 1
    ts.strftime('%H:%M:%S'), # 20:15:35
    ts.time(),               # datetime.time(20, 15, 35, 654000)
    ts.hour,                 # 20
    ts.minute,               # 15
    ts.second,               # 35
    ts.microsecond,          # 654000
    ts.nanosecond,           # 0
    ts.tz,                   # <DstTzInfo 'US/Central' CDT-1 day, 19:00:00 DST>
    ts.timetz()              # datetime.time(20, 15, 35, 654000, tzinfo=<DstTzInfo 'US/Central' CDT-1 day, 19:00:00 DST>))
)
```

⭐ Note that effectively, `ts.timetz()` produces the combined results of `ts.time()` and `tz.tz`.

#### Example

In [ ]:
ts = pd.Timestamp('2020-03-17 20:15:35.654', tz='US/Central')

In [ ]:
# Eaxmple
(
    ts.strftime('%Y-%m-%d'), # '2020-03-17'
    ts.date(),               # datetime.date(2020, 3, 17)
    ts.year,                 # 2020
    ts.quarter,              # 1
    ts.month,                # 3
    ts.week,                 # 12
    ts.day,                  # 17
    ts.weekday(),            # 1
    ts.strftime('%H:%M:%S'), # 20:15:35
    ts.time(),               # datetime.time(20, 15, 35, 654000)
    ts.hour,                 # 20
    ts.minute,               # 15
    ts.second,               # 35
    ts.microsecond,          # 654000
    ts.nanosecond,           # 0
    ts.tz,                   # <DstTzInfo 'US/Central' CDT-1 day, 19:00:00 DST>
    ts.timetz()              # datetime.time(20, 15, 35, 654000, tzinfo=<DstTzInfo 'US/Central' CDT-1 day, 19:00:00 DST>))
)

('2020-03-17',
 datetime.date(2020, 3, 17),
 2020,
 1,
 3,
 12,
 17,
 1,
 '20:15:35',
 datetime.time(20, 15, 35, 654000),
 20,
 15,
 35,
 654000,
 0,
 <DstTzInfo 'US/Central' CDT-1 day, 19:00:00 DST>,
 datetime.time(20, 15, 35, 654000, tzinfo=<DstTzInfo 'US/Central' CDT-1 day, 19:00:00 DST>))

## Using `pandas.Timedelta()`

When you want to add some amount of time (in terms of weeks, days, hours, mimutes, seconds, etc.) to a datetime object in pandas, you could use `pandas.Timedelta()`.

For `pandas.Timedelta` allowed keywords are `[weeks, days, hours, minutes, seconds, milliseconds, microseconds, nanoseconds]`

Here are a few examples.

```python
ts = pd.Timestamp('2020-03-17 20:15:35.654')
ts + pd.Timedelta(days=10) # Timestamp('2020-03-27 20:15:35.654000')

# various timedelta options
(
    pd.Timedelta(weeks=10),           # Timedelta('70 days 00:00:00')     
    pd.Timedelta(days=10),            # Timedelta('10 days 00:00:00')
    pd.Timedelta(hours=10),           # Timedelta('0 days 10:00:00')
    pd.Timedelta(minutes=10),         # Timedelta('0 days 00:10:00')
    pd.Timedelta(seconds=10),         # Timedelta('0 days 00:00:10')
    pd.Timedelta(milliseconds=10),    # Timedelta('0 days 00:00:00.010000')
    pd.Timedelta(nanoseconds=10),     # Timedelta('0 days 00:00:00.000000')
)
```

In [ ]:
ts = pd.Timestamp('2020-03-17 20:15:35.654')
ts + pd.Timedelta(days=10)

Timestamp('2020-03-27 20:15:35.654000')

In [ ]:
(
    pd.Timedelta(weeks=10),           # Timedelta('70 days 00:00:00')
    pd.Timedelta(days=10),            # Timedelta('10 days 00:00:00')
    pd.Timedelta(hours=10),           # Timedelta('0 days 10:00:00')
    pd.Timedelta(minutes=10),         # Timedelta('0 days 00:10:00')
    pd.Timedelta(seconds=10),         # Timedelta('0 days 00:00:10')
    pd.Timedelta(milliseconds=10),    # Timedelta('0 days 00:00:00.010000')
    pd.Timedelta(nanoseconds=10),     # Timedelta('0 days 00:00:00.000000')
)

(Timedelta('70 days 00:00:00'),
 Timedelta('10 days 00:00:00'),
 Timedelta('0 days 10:00:00'),
 Timedelta('0 days 00:10:00'),
 Timedelta('0 days 00:00:10'),
 Timedelta('0 days 00:00:00.010000'),
 Timedelta('0 days 00:00:00.000000'))

In [ ]:
ts

Timestamp('2020-03-17 20:15:35.654000')

In [ ]:
(ts + pd.Timedelta(days=14)).is_quarter_end

True

In [ ]:
df.Dates.dt.to_period('Q').head()

0    2020Q3
1    2020Q3
2    2020Q3
3    2020Q3
4    2020Q3
Name: Dates, dtype: period[Q-DEC]

## Converting from format `DDMMMYYYY` to `YYYYMMDD`

Strategy: `raw-date-string` --> `datetime` --> `string format as '%Y%m%d'`

### **A. Snippet with Summary**

Convert the string values of the date into type `'datetime64[ns]'`. This makes pandas recognize the string date-values as datetime values. The `.dt.strftime('%Y%m%d')` further converts these datetime values into strings in the expected format, `%Y%m%d`.

> NOTE: The dataframe `df` was created with the code snippet in section: **C. Dummy Data**.

```py
df["ExpectedOutput"] = df["GivenInput"].astype('datetime64[ns]').dt.strftime('%Y%m%d')
print(df)
```

**Output**:

```sh
   GivenInput ExpectedDates
0   31Jan2023      20230131
1   28Feb2023      20230228
2   31Mar2023      20230331
3   30Apr2023      20230430
4   31May2023      20230531
5   30Jun2023      20230630
6   31Jul2023      20230731
7   31Aug2023      20230831
8   30Sep2023      20230930
9   31Oct2023      20231031
10  30Nov2023      20231130
11  31Dec2023      20231231
12  31Jan2024      20240131
13  29Feb2024      20240229
14  31Mar2024      20240331
15  30Apr2024      20240430
16  31May2024      20240531
```

### **B. Notes for the Inquisitive**

The following conversion loads the data as datetime; however, the pandas display show the datetime values as follows.

- `31Oct2023` --> `2023-10-31`  


```py
df["DateTimeAsIs"] = df["GivenInput"].astype('datetime64[ns]')
print(df)
```

**Output**:

```sh
   GivenInput ExpectedOutput DateTimeAsIs
0   31Jan2023       20230131   2023-01-31
1   28Feb2023       20230228   2023-02-28
2   31Mar2023       20230331   2023-03-31
3   30Apr2023       20230430   2023-04-30
4   31May2023       20230531   2023-05-31
5   30Jun2023       20230630   2023-06-30
6   31Jul2023       20230731   2023-07-31
7   31Aug2023       20230831   2023-08-31
8   30Sep2023       20230930   2023-09-30
9   31Oct2023       20231031   2023-10-31
10  30Nov2023       20231130   2023-11-30
11  31Dec2023       20231231   2023-12-31
12  31Jan2024       20240131   2024-01-31
13  29Feb2024       20240229   2024-02-29
14  31Mar2024       20240331   2024-03-31
15  30Apr2024       20240430   2024-04-30
16  31May2024       20240531   2024-05-31
```

### **C. Dummy Data**

Snippet to load the sample data.

```py
import pandas as pd
from io import StringIO

s = """
GivenInput
31Jan2023
28Feb2023
31Mar2023
30Apr2023
31May2023
30Jun2023
31Jul2023
31Aug2023
30Sep2023
31Oct2023
30Nov2023
31Dec2023
31Jan2024
29Feb2024
31Mar2024
30Apr2024
31May2024
"""
s = s.strip()

df = pd.read_csv(StringIO(s), sep=',')
print(df)
```

### References

- https://stackoverflow.com/questions/78650371/convert-date-column-with-ddmmmyyyy-strings-into-yyyymmdd-string-in-pandas
- https://stackoverflow.com/questions/38067704/how-to-change-the-datetime-format-in-pandas

In [6]:
import pandas as pd
from io import StringIO

s = """
GivenInput
31Jan2023
28Feb2023
31Mar2023
30Apr2023
31May2023
30Jun2023
31Jul2023
31Aug2023
30Sep2023
31Oct2023
30Nov2023
31Dec2023
31Jan2024
29Feb2024
31Mar2024
30Apr2024
31May2024
"""
s = s.strip()

df = pd.read_csv(StringIO(s), sep=',')
print(df)

   GivenInput
0   31Jan2023
1   28Feb2023
2   31Mar2023
3   30Apr2023
4   31May2023
5   30Jun2023
6   31Jul2023
7   31Aug2023
8   30Sep2023
9   31Oct2023
10  30Nov2023
11  31Dec2023
12  31Jan2024
13  29Feb2024
14  31Mar2024
15  30Apr2024
16  31May2024

In [7]:
# Method-A
df["DateTimeAsIs_A"] = df["GivenInput"].astype('datetime64[ns]')
df["ExpectedOutput_A"] = df["GivenInput"].astype('datetime64[ns]').dt.strftime('%Y%m%d')
# Method-B
df["DateTimeAsIs_B"] = pd.to_datetime(df["GivenInput"], format='%d%b%Y')
df["ExpectedOutput_B"] = pd.to_datetime(df["GivenInput"], format='%d%b%Y').dt.strftime('%Y%m%d')
print(df)

   GivenInput DateTimeAsIs_A ExpectedOutput_A DateTimeAsIs_B ExpectedOutput_B
0   31Jan2023     2023-01-31         20230131     2023-01-31         20230131
1   28Feb2023     2023-02-28         20230228     2023-02-28         20230228
2   31Mar2023     2023-03-31         20230331     2023-03-31         20230331
3   30Apr2023     2023-04-30         20230430     2023-04-30         20230430
4   31May2023     2023-05-31         20230531     2023-05-31         20230531
5   30Jun2023     2023-06-30         20230630     2023-06-30         20230630
6   31Jul2023     2023-07-31         20230731     2023-07-31         20230731
7   31Aug2023     2023-08-31         20230831     2023-08-31         20230831
8   30Sep2023     2023-09-30         20230930     2023-09-30         20230930
9   31Oct2023     2023-10-31         20231031     2023-10-31         20231031
10  30Nov2023     2023-11-30         20231130     2023-11-30         20231130
11  31Dec2023     2023-12-31         20231231     2023-12-31         20231231
12  31Jan2024     2024-01-31         20240131     2024-01-31         20240131
13  29Feb2024     2024-02-29         20240229     2024-02-29         20240229
14  31Mar2024     2024-03-31         20240331     2024-03-31         20240331
15  30Apr2024     2024-04-30         20240430     2024-04-30         20240430
16  31May2024     2024-05-31         20240531     2024-05-31         20240531

In [8]:
all(df['ExpectedOutput_A'] == df['ExpectedOutput_B'])

True