[View in Colaboratory](https://colab.research.google.com/github/sugatoray/CodeSnippets/blob/master/Make_HTML_Table_from_Data.ipynb)

# Description
I made this code snippet to create a table in html and as a pandas.DataFrame object when the data is provided in the form of a list.   

The inspiration for making this came from the [**stackoverflow.com question:** Easiest way to turn a list into an HTML table in python?](https://stackoverflow.com/questions/1475123/easiest-way-to-turn-a-list-into-an-html-table-in-python)

In [0]:
import numpy as np
import pandas as pd

def generate_html_with_table(data, columns = 1, column_name_prefix = 'Column', showOutput = True):
    """
    This function returns a pandas.DataFrame object and a 
    generated html from the data based on user specifications.
    
    #Example:
      data_html, data_df = generate_html_with_table(data, columns, column_name_prefix, showOutput)
      # To suppress output and skip the DataFrame:
      data_html, _ = generate_html_with_table(data, columns, column_name_prefix, False)      
      
    # Inputs: 
        1. data:               Data
           (dtype: list)
        2. columns:            Number of Columns
           (dtype: int)
        3. column_name_prefix: The Prefix for Column headers
           (dtype: string)
        4. showOutput:         (True/False) Whether to show output or not. Use 
           (dtype: boolean)                   False to suppress printing output.
                                                              
    # Outputs:
        data_html: generated html
        data_df:   generated pandas.DataFrame object
        
    # Author: Sugato Ray 
    Github: https://github.com/sugatoray
    Repository/Project: CodeSnippets
    
    """
    # Calculate number of elements in the list: data
    elements = len(data)
    # Calculate the number of rows needed
    rows = int(np.ceil(elements/columns))    
    # Generate Column Names
    column_names = [column_name_prefix + '_{}'.format(i) \
                    for i in np.arange(columns)]    
    # Convert the data into a numpy array
    data_array = np.array(data + ['']*(columns*rows - elements)).\
                                                          reshape(rows,columns)
    # Convert the numpy array into a pandas DataFrame
    data_df = pd.DataFrame(data_array, columns = column_names)    
    # Create HTML from the DataFrame
    data_html = data_df.to_html()
    if showOutput:
        print('Elements: {}\nColumns: {}\nRows: {}'.format(elements, \
                                                           columns, \
                                                           rows))
        print('Column Names: {}'.format(column_names))
        print('\nPandas DataFrame: ')
        display(data_df)
        print('\nHTML Generated: \n\n' + data_html)
        
    return (data_html, data_df)


  
#data_html, data_df = generate_html_with_table(data, columns, column_name_prefix, showOutput)

In [3]:
#@title Specify Input Parameters and Generate HTML
data = ['one','two','three','four','five','six','seven','eight','nine']
columns = 4                   # Number of Columns
column_name_prefix = 'Column' # Prefix for Column headers
showOutput = True             # Use False to suppress printing output

# Generate HTML
data_html, data_df = generate_html_with_table(data, columns, column_name_prefix, showOutput)

Elements: 9
Columns: 4
Rows: 3
Column Names: ['Column_0', 'Column_1', 'Column_2', 'Column_3']

Pandas DataFrame:

  Column_0 Column_1 Column_2 Column_3
0      one      two    three     four
1     five      six    seven    eight
2     nine

HTML Generated:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Column_0</th>
      <th>Column_1</th>
      <th>Column_2</th>
      <th>Column_3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>one</td>
      <td>two</td>
      <td>three</td>
      <td>four</td>
    </tr>
    <tr>
      <th>1</th>
      <td>five</td>
      <td>six</td>
      <td>seven</td>
      <td>eight</td>
    </tr>
    <tr>
      <th>2</th>
      <td>nine</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>