# Show DataFrames Side by Side

In [1]:
import numpy as np
import pandas as pd

In [2]:
from IPython.display import display_html

def show_dataframe_sidebyside(dfs:list, df_captions:list=None, sep_length:int=10):
    """
    Declaration:
        Inspiration from solution on stackoverflow by gibbone: 
            https://stackoverflow.com/questions/38783027/jupyter-notebook-display-two-pandas-tables-side-by-side
    """
    if sep_length is None:
        sep_length = 10
    sep = ''.join(["&nbsp"]*sep_length)
    if df_captions is None:
        df_captions = ['Table-{}'.format(str(i)) for i in range(len(dfs))]
    df_stylers = [df.style.set_table_attributes("style='display:inline'").set_caption(df_caption) \
                  for df, df_caption in zip(dfs, df_captions)]
    
    display_html(sep.join([df_styler._repr_html_() for df_styler in df_stylers]), raw=True)

In [3]:
df1 = pd.DataFrame({'Name': ['Tom', 'Dick', 'Harry'], 'Age': [10, 12, 13], 'Weight': [40, 45, 53]})
df2 = pd.DataFrame({'Name': ['Jenna', 'Stacy', 'Gina'], 'Age': [11, 13, 14], 'Weight': [40, 45, 49]})

show_dataframe_sidebyside(dfs=[df1, df2], df_captions=['Boys', 'Girls'], sep_length=10)

,Name,Age,Weight
0,Tom,10,40
1,Dick,12,45
2,Harry,13,53
,Name,Age,Weight
0,Jenna,11,40
1,Stacy,13,45
2,Gina,14,49